* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  
}

body {
  background: whitesmoke;
  background-color: #0069c4;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

h1 {
  color: white;
}

header {
  background-color: #f5ba13;
}

header h1 {
  color: #fff;
  text-align: center;
}

.count {
  background: white;
  position: relative;
  text-align: center;
  padding: 10px;
  width: 300px;
  margin: 200px auto 20px auto;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.count h1 {
  color: black;
  font-size: 200px;
}