* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #0069c4;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

header {
  background-color: #f5ba13;
}

header h1 {
  color: #fff;
  text-align: center;
}

.count {
  background: white;
  position: relative;
  text-align: center;
  padding: 10px;
  width: 450px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.count h1 {
  color: black;
  font-size: 200px;
  font-weight: 500;
  word-wrap: break-word;
  background: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action button {
  background-color: #f5ba13;
  color: rgb(255, 255, 255);
  width: 250px;
  height: 170px;
  cursor: pointer;
  margin: 50px 20px auto;
  transition: background-color 0.5s;
  border: none;
  outline: none;
  border-radius: 5%;
  box-shadow: 12px 2px 1px rgb(138, 137, 137);
  -webkit-box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 1);
}

.action button:hover {
  background-color: #9913e7;
}
